body {
   color: white;
   background: rgb(0, 0, 0); 
margin: 0px;
margin-bottom: 100px;
}

header {
   border: solid 2px rgb(59, 27, 107);
   padding: 20px;
   font-size: 32px;
   color: rgb(123, 44, 228);

}

.chamada {
   background: rgb(109, 57, 177);
   padding-bottom: 80px;
   padding-tp: 80px;
   display: flex;
   justify-content: center;

}

.chamada-texto {
    margin-right: 5%;

}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}


.categoria-videos {
     display: flex;
     overflow-x: auto;
     gap: 10px;
}

.categoria {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;

}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(43, 14, 110);

}


